<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="lead-text">
        Super simple benchmarking. 
    </div>
    <div class="body-text">
        <p>
        Ever want to quickly ask a whole bunch of people <em>"How many...", "How
        much...",</em> or <em>"How often..." </em>type questions? We make doing that super
            easy. Just create a new benchmark below, share the link with whomever
            you want (or list it publicly) and start getting data. You'll be
            able to see the results graphed out just like the chart below. Check
            out some <a href="/benchmark">examples</a> to get an idea of what
                you can do.
        </p>

        <p> 
            We're adding features on a regular basis, so feel free to <a
            href="mailto:info@mimirate.com">contact us</a> if there's something
            you'd like to see added.  
        </p>

        <p>
            <em>Happy Benchmarking!</em> 
        </p>    
    </div>
    <gaussian-normal></gaussian-normal>
    <div ng-include="mainMessage"></div>
</div>

<footer class="footer">
  <div class="container">
      <p>HowBigHowMany | copyright &copy; 2015 <a href="http://www.mimirate.com/">Mimirate, LLC </a>| <a href="mailto:info@mimirate.com">contact us</a></p>
  </div>
</footer>

<script type="text/ng-template" id="benchmark-added">
    <div class="lead-text">
        New benchmark added <a ng-href="{{newBenchmarkLink}}">here</a>.
    </div>
</script>

<script type="text/ng-template" id="add-benchmark-form">
    <form name="benchmarkForm" class="col-md-10 col-md-offset-1" ng-submit="createBenchmark(benchmarkForm)" novalidate>
        <div class="form-group" ng-class="{ 'has-error':benchmarkForm.name.$invalid && !benchmarkForm.name.$pristine}">
            <label class="main-form-label" for="">Benchmark Name</label>
            <input required name="name" class="form-control" ng-model="newBenchmark.name" placeholder="e.g. -- Average hours of TV watched per day">
        </div>
        <div class="form-group" ng-class="{ 'has-error':benchmarkForm.prompt.$invalid && !benchmarkForm.prompt.$pristine}">
            <label>Input Prompt</label>
            <input required name="prompt" class="form-control" ng-model="newBenchmark.question" placeholder="e.g. -- How many hours of TV do you watch per day?">
        </div>
        <div class="form-group" ng-class="{ 'has-error':benchmarkForm.units.$invalid && !benchmarkForm.units.$pristine}">
            <label class="main-form-label" for="">Benchmarking Units</label>
            <input required name="units" class="form-control" ng-model="newBenchmark.units" placeholder="e.g. -- hours">
        </div>
        <div class="form-group" ng-class="{ 'has-error':benchmarkForm.description.$invalid && !benchmarkForm.description.$pristine}">
            <label class="main-form-label">Description</label>
            <textarea name="description" cols="30" rows="10" ng-model="newBenchmark.description" class="form-control" placeholder="Enter a brief description of your benchmark here."></textarea>
            <p class="help-text">
            Feel free to use HTML in your description. Markdown coming soon.
            </p>
        </div>
        <div class="form-group">
            <label class="main-form-label">Who can add data?</label>
            <select name="whocanadd" ng-model="newBenchmark.whoCanAdd" class="form-control">
                <option value='' ng-selected="newBenchmark.whoCanAdd===''">--Select Benchmark Visibility--</option>
                <option value="anyone">Anyone</option>
                <option value="invite">Invite Only</option>
            </select>
            <p class="help-text">
                Set to 'Anyone' to list the benchmark publically. Set to 'Invite
                Only' to only allow those with the URL to access the benchmark.
            </p>
        </div>
        <div class="checkbox">
            <label class="main-form-label">
                <input type="checkbox" ng-model="newBenchmark.allowComments">
                Allow Comments
            </label>
        </div>
        <div class="form-group" ng-class="{ 'has-error':benchmarkForm.minimum.$invalid && !benchmarkForm.minimum.$pristine}">
            <label class="main-form-label">Minimum Value</label>
            <input name="minimum" class="form-control" type="number" ng-model="newBenchmark.minimum">
        </div>
        <div class="form-group" ng-class="{ 'has-error':benchmarkForm.maximum.$invlaid && !benchmarkForm.maximum.$pristine}">
            <label class="main-form-label">Maximum Value</label>
            <input name="maximum" class="form-control" type="number" ng-model="newBenchmark.maximum">
        </div>
        <button ng-disabled="benchmarkForm.$invalid" class="btn btn-primary" type="submit">create</button>
        <button class="btn btn-bluesteel" onClick="_gaq.push(['_trackEvent', 'Button', 'Click', 'Upload File']})">upload data from file</button>
    </form>
</script>
