body {
    background: linen;
}
.lead-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
}

label {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.form-control {
    background: rgba(246, 241, 237, 1);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

button.btn {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

button.btn-steelblue {
    background: steelblue;
    color: linen;
}

button.btn-seagreen {
    background: seagreen;
    color: linen;
}

button.btn-tomato {
    background: tomato;
    color: linen;
}

div.navbar {
    background: rgba(242, 242, 234, 1);
}



